.breadcrumbs-wrapper {
  display: flex;
  align-items: center;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  font-size: var(--body-font-size-s);
}

.breadcrumb-container li {
  list-style: none;
  display: flex;
  align-items: center;
}

.breadcrumb-container a {
  color:var(--dark-color);
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.breadcrumb-container li:not([aria-current="page"]) a {
  font-weight: bold;
}

.breadcrumb-container li[aria-current="page"] span {
  color: var(--text-color);
  text-transform: capitalize;
}

.breadcrumb-container li + li::before {
  content: "▶";
  color: var(--yellow-color);
  margin: 0 8px;
  font-size:var(--body-font-size-s);
}