.articles.with-image ul {
  list-style: none;
  padding-left: 20px;
}

.articles.with-image li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.articles.with-image li img {
  width: 260px;
  height: 200px;
  object-fit: cover;
}

.articles.with-image li a {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.articles.with-image li p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
  color: dimgray;
  white-space: nowrap;
}

/* Optional media query */
@media (width >= 900px) {
  .articles.with-image ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .articles.with-image li {
    width: 260px;
  }
}
